<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UploadServlet</servlet-name>
  	<display-name>UploadServlet</display-name>
  	<description></description>
  	<servlet-class>com.university.servlets.UploadServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteUploadServlet</servlet-name>
  	<display-name>DeleteUploadServlet</display-name>
  	<description></description>
  	<servlet-class>com.university.servlets.DeleteUploadServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DownloadServlet</servlet-name>
  	<display-name>DownloadServlet</display-name>
  	<description></description>
  	<servlet-class>com.university.servlets.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResolveQueryServlet</servlet-name>
  	<display-name>ResolveQueryServlet</display-name>
  	<description></description>
  	<servlet-class>com.university.servlets.ResolveQueryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveAttendanceServlet</servlet-name>
  	<display-name>SaveAttendanceServlet</display-name>
  	<description></description>
  	<servlet-class>com.university.servlets.SaveAttendanceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStudentServlet</servlet-name>
  	<display-name>UpdateStudentServlet</display-name>
  	<description></description>
  	<servlet-class>com.university.servlets.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecommendServlet</servlet-name>
  	<display-name>RecommendServlet</display-name>
  	<description></description>
  	<servlet-class>com.university.servlets.RecommendServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveStudentInterests</servlet-name>
  	<display-name>SaveStudentInterests</display-name>
  	<description></description>
  	<servlet-class>com.university.servlets.SaveStudentInterests</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveStudentInterestsServlet</servlet-name>
  	<display-name>SaveStudentInterestsServlet</display-name>
  	<description></description>
  	<servlet-class>com.university.servlets.SaveStudentInterestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UploadServlet</servlet-name>
  	<url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUploadServlet</servlet-name>
  	<url-pattern>/DeleteUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DownloadServlet</servlet-name>
  	<url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResolveQueryServlet</servlet-name>
  	<url-pattern>/ResolveQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveAttendanceServlet</servlet-name>
  	<url-pattern>/SaveAttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStudentServlet</servlet-name>
  	<url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveStudentInterests</servlet-name>
  	<url-pattern>/SaveStudentInterests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveStudentInterestsServlet</servlet-name>
  	<url-pattern>/SaveStudentInterestsServlet</url-pattern>
  </servlet-mapping>
</web-app>
